# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
*.tar
